<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='result.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vs.css') }}">
  </head>
  <body>
    <div class="container">
        <ul>
            <li><a class="active" href="{{url_for('home')}}">Home</a></li>
          </ul>
    </div>
    <br>
    <br>

    <div class="container">
        <div class="image">
            <img src="{{url_for('static', filename='rf_confusion_matrix.png')}}" alt="Image 3" />
            <div class="caption">Confustion Matrix</div>
        </div>
        <div class="image">
            <img src="{{url_for('static', filename='cnn_losses.png')}}" alt="Image 3" />
            <div class="caption">Traing and Validation Loss</div>
        </div>
        <div class="performance_image">
            <img src="{{url_for('static', filename='model_performance_analysis.png')}}" alt="Image 3" />
            
        </div>
    </div>
  </body>
</html>

